/* variables */
:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --GrisOscuro: #666;
  --GrisClaro: #ebebeb;
  --Verde: #39b54a;
  --font-family: "Roboto", sans-serif;
}

* {
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* Body */
.home {
  font-family: var(--font-family);
  background-color: var(--GrisClaro);
}

/*  Header */

header {
  padding: 15px;
  background-color: var(--Amarillo);
}

.conteiner__logo--search .logo {
  width: 50%;
}

.conteiner__logo--search {
  display: flex;
  gap: 10px;
}

.conteiner__logo--search form {
  width: 50%;
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 5px;
}

.header input {
  width: 80%;
  height: 20px;
  border: none;
  font-size: 0.7rem;
  background-color: transparent;
  padding-left: 5px;
}

.conteiner__logo--search button {
  width: 20%;
  height: 20px;
  background-color: transparent;
  border: none;
}

.interes {
  text-align: center;
  font-size: 14px;
  padding: 7px;
}

.nav {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: black;
  font-family: var(--font-family);
  font-size: 16px;
  display: none;
}

.nav--burger {
  position: relative;
  bottom: 10px;
  background-color: var(--Celeste);
  color: var(--GrisClaro);
  display: block;
  max-width: 15%;
  padding: 15px 0px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

/* Main */
.main {
  margin: 0 auto;
  width: 90%;
  padding: 5px;
  background-color: var(--GrisClaro);
}

.main h2 {
  text-align: center;
}

.conteiner--article {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteiner--product {
  border: 1px solid var(--GrisClaro);
  margin: 10px 0;
  background-color: var(--GrisClaro);
  border: 15px;
}

.conteiner--descripcion {
  position: relative;
  bottom: 4px;
  border-top: 1px solid #ebebeb;
  padding: 10px;
  background-color: white;
}

.conteiner--descripcion .truck {
  border-radius: 100%;
  border: 1px solid var(--Verde);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Verde);
}

.product {
  margin: 10px 0;
  width: 300px;
}

.product--precio {
  font-size: 19px;
  display: inline-block;
  width: 30%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.product--descuento {
  /* position: absolute;
    left: 70px;*/
  font-size: 15px;
  color: var(--Verde);
  display: inline-block;
  width: 70%;
  padding-right: 11px;
}

.product--product {
  color: var(--GrisOscuro);
  font-family: var(--font-family);
}

.conteiner__precio--descuento {
  display: flex;
  justify-content: start;
  align-items: center;
}

/* Footer*/
footer {
  text-align: center;
  padding: 50px 15px 15px 15px;
  background-color: white;
}

.form i {
  font-size: 45px;
  color: var(--celeste);
}

footer .form h4 {
  font-size: 20px;
  font-family: var(--font-family);
}

.form p {
  position: relative;
  bottom: 19px;
  font-size: 22px;
  text-align: center;
  font-family: var(--font-family);
}

footer .form {
  border: 20px 20px;
}

.Copy {
  position: relative;
  top: 20px;
  text-align: left;
}

@media (min-width: 361px) {
  /* header */
  .header {
    padding: 30px;
  }

  .conteiner__logo--search {
  }

  .conteiner__logo {
    flex-grow: 1;
    max-width: 360px;
  }

  .conteiner__logo--search form {
  }

  .header form input {
  }

  .header form button {
  }

  .conteiner__logo--search i {
  }

  /*main*/

  .conteiner--descripcion .truck {
    display: block;
    font-size: 16px;
    padding: 4px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Verde);
    color: var(--Verde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }

  /* footer */
}

@media (min-width: 716px) {
  /* main */

  .main h2 {
    text-align: center;
  }

  .conteiner--article {
    justify-content: space-around;
  }

  .product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 20px 0;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 25px;
  }
  /* Header */

  .conteiner__logo--search {
    width: 60%;
    margin: 0;
    display: inline-flex;
    justify-content: space-around;
  }

  .conteiner__logo {
    flex-grow: 1;
    max-width: 390px;
  }

  .conteiner__logo--search form {
    align-self: center;
    padding: 6px;
  }

  .header form input {
  }

  .header form button {
  }

  .conteiner__logo--search i {
  }

  .conteiner--interes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 20px;
    bottom: 60px;
  }

  .header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .header .nav {
    display: flex;
    gap: 11px;
  }

  .nav a {
    display: block;
  }

  .nav--burger {
    display: none;
  }

  .banner {
    position: relative;
    bottom: 15px;
  }

  /* footer */
  .Copy {
    text-align: center;
  }
}

@media (min-width: 1680px) {
  .conteiner__logo--search form {
    position: relative;
    left: 40px;
  }

  .conteiner__logo--search i {
    display: block;
    position: relative;
    left: 90px;
    bottom: 5px;
    background-color: var(--GrisClaro);
    color: black;
    max-width: 50%;
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 8px;
    margin: auto;
    border-radius: 11px;
  }

  .header input {
    width: 80%;
    height: 22px;
    font-size: 1rem;
    padding-left: 15px;
  }

  .header li a {
    font-size: 1rem;
  }

  header .conteiner--interes .interes {
    font-size: 1rem;
    position: relative;
    right: 65px;
    bottom: 49px;
  }
  .header .nav {
    gap: 40px;
    position: relative;
    left: 190px;
  }
  .header .nav a {
    font-size: 1rem;
  }
}
